.post{
    padding-top: .4em;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #9d9d9d3a;
}
.post:hover{
    background-color: #5353531a;
    transition: .2s ease-in-out;
}

.avatar{
    background: none;
    width: 50px;
    height: 50px;
    margin-top: .3em;
    margin-right: .3em;
}


.post_text{
    display: flex;
}

.post_body{
    padding-left: 5px;
    
}

.post_headerDescription{
    width: 33em;
}

.displayname{
    font-size: 1em;
    padding: 0;
    margin: 0;
}

.displayname:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.801);
}


.imgg{
    border-radius: 2em;
    width: 90%;
    
}


.post_footer{
    display: flex;
    justify-content: space-around;
    padding: .1em;
    width: 90%;
}