.tweetCart{
    padding: 10px;
    display: grid;
    grid-template-columns: .1fr .9fr;
    border-bottom: 1px solid #9d9d9d56;
}

.tweetCart_svg{
    width: 19px;
    height: 19px;
    padding: 6px;
    justify-content: center;
    align-items: center;
}

.tweetCart_svg:hover{
    cursor: pointer;
    fill: #1da1f2;
    background-color: #1da0f217;
    border-radius: 50px;
    transition: .2s ease-in-out;
}

.tweetimg{
    padding-right: 10px;
    background: transparent;
}

.tweetCart_svb{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 4px;
}

.tweetCart_input{
    font-size: 1.7em;
    font-weight: 100;
    padding: 10px;
    padding-bottom: 0px;
    color: #fff;
    border: none;
    width: 100%;
    background: transparent;
    border-bottom: 1px solid #9d9d9d31;
    overflow:hidden;
}

.tweetCart_input:focus{
    outline: none;    
}

.tweetCart_btn{
    margin-left: auto;
    justify-content: center;
    align-items: center;
    background: #1da1f2;
    color: #fff;
    width: 5em;
    height: 2em;
    border-radius: 1.5em;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    
}