.rp_header{
    border-left: 1px solid #9d9d9d3a;
    padding-right: 3em;
}

.rp_content{
    top: 0;
    padding: .1em;
    position: sticky;
}

.Wheader{
    padding: .8em;
    letter-spacing: 1px;
    font-size: 1.2em;
    font-weight: 900;
}

.WH,
.WTF{
    margin: 20px;
    background-color: #9d9d9d3a;
    border-radius: 2em;
}

.rp_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: start;
    padding-left: 10px;
    margin-left: 20px;
}


.nav_lnk {
    text-decoration: none;
    font-size: 13px;
    color: #536471;
    margin: .3rem .5rem;
    text-transform: capitalize;
    border-bottom: 1px solid transparent;
    transition: all .2s ease;
}

.rp_footer nav a:hover {
    border-bottom: 1px solid #536471;
}
