.search_form{
    
    height: 2.4em;
    width: 20em;
    margin: 20px;
    display: flex;
    border-radius: 2em;
    margin-top: 8px;
    align-items: center;
    flex-direction: row;
    background-color: #aca9a934;    
}


.search_input{
    width: 100%;
    border-radius: 2em;
    font-size: 15px;
    border: none;
    outline: none;
    color: aliceblue;
    background-color: transparent;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.searchIc{
    padding-top: 5px;
    padding-left: 8px;
    position: sticky;
}

.searchIc:hover{
    background: transparent;
    fill: aliceblue;
}